.Botao {
    border: 1px solid var(--preto);
    padding: 0.25rem 0.75rem;
    color: var(--cinza);
}

.Botao[tipo="primario"] {
    background-color: var(--verde);
    border: 1px solid var(--preto);
    padding: 0.25rem 0.75rem;
    color: var(--cinza);
}

.Botao[tipo="secundario"] {
    background-color: var(--rosa);
    border: 1px solid var(--preto);
    padding: 0.25rem 0.75rem;
    color: var(--cinza);
}